/* setting up some page site defaults */
* {
    font-family: 'Courier New', Courier, monospace;
}

#title-box{
    display: flex;
    justify-content: center;
}   

h1{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 5px;
    padding: 0.1%;
    border-image-outset: 10px;
    position: fixed;
    background-color: white;
}

#content{
    position: relative;
    top: 75px;
}

.content-card{
    width: 75%;
    justify-items: center;
    border: 1px solid black;
    border-radius: 3px;
}
